@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
	font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	color: rgba(255, 255, 255, 0.9);
	background-color: #242424;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	background-attachment: fixed;
	color: #fff;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}